@import './src/styles/_colors';
@import './src/styles/_mediaQueries';

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(back.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  position: relative;
  overflow-x: hidden;
  @include tablet {
    min-height: 98vh;
  };
}
